.error-modal {
    background-color: #2d2d39;
    width: 300px;
    min-height: 5rem;
    max-height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease-out;
    z-index: 9999;
    margin-bottom: 2rem;
    will-change: transform;
    border-radius: 5px;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.error-modal.slideIn {
    animation-name: slideIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
}

.error-modal.slideOut {
    transform: translateX(150%);
}

.error-modal-top {
    background-color: #2d2d39;
    flex: 1;
    padding-left: 1rem;
}

.error-modal-bottom {
    background-color: #272731;
    flex: 2;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: auto;
    word-break: break-word;
}

.error-modal-title {
    flex: 1;
    padding-top: 4px;
}

.error-modal-close-button {
    background-color: #2d2d39;
    border: none;
    color: #fff;
    border-top-right-radius: 5px;
    height: 34px;
}

.error-modal-close-button:hover {
    background-color: #43434f;
    transition: all 0.1s;
}